<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Articles-Badges-images.css">
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <div th:text="${#authentication.getName()}"></div>

                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
                            aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse show" id="navbarDark">
                        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                            <li class="fixed-top">
                                <a class="nav-link active" aria-current="page" href="#">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class="row">
        <div class="col-2">
            <form>
                <nav class="nav nav-pills nav flex-column">
                    <a class="nav-link active" aria-current="page" href="/admin/">Admin</a>

                    <a class="nav-link" href="/admin/showUser/">User</a>

                </nav>
            </form>
        </div>

        <div class="col bg-light">

            <div class="h3 ">
                <a type="text">Admin Panel</a>
            </div>

            <div class="col">

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab"
                                                                href="#tab-1">Users Table</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab"
                                                                href="#tab-2">New User</a></li>

                </ul>
                <div class="card">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1"><p class="h4"> All Users</p>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="user:${showAllUsers}">
                                        <td th:text="${user.id}">ID</td>
                                        <td th:text="${user.getUsername()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td th:text="${user.getRoles()}"></td>

                                        <td>

<!--                                            <button type="button" class="btn btn-info" data-toggle="modal"-->
<!--                                                    th:data-bs-target="'#editModal' + ${user.id}">-->
<!--                                                Edit-->
<!--                                            </button>-->
                                            <button type="button" class="btn btn-info" data-toggle="modal"
                                                    data-bs-target="#editModal"
                                                    th:data-bs-target="${'#editModal'+user.id}">
                                                Edit
                                            </button>


                                            <!-- Modal для редактирования -->
                                            <div class="modal fade" th:id="${'editModal'+ user.id}"
                                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" >
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
<!--                                                        <div class="modal-body">-->
                                                            <form th:action="@{/admin/{id}/(id=${user.id})}" th:object="${user}"
                                                                  method="PATCH">

                                                                <div class="form-group">
                                                                    <label for="editUsername"> Enter Username: </label>
                                                                    <input class="form-control" type="text"
                                                                           id="editUsername" th:value="${user.username}"
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="passwordEdit"> Enter password: </label>
                                                                    <input class="form-control" type="text"
                                                                           name="password" id="passwordEdit"
                                                                           th:value="${user.password}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="emailEdit"> Enter email: </label>
                                                                    <input class="form-control" type="email"
                                                                           placeholder="Email" name="email"
                                                                           id="emailEdit" th:value="${user.email}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="rolesEdit">Roles</label>
                                                                    <select multiple class="form-control" name="roles"
                                                                            id="rolesEdit" th:value="${user.roles}">
                                                                        <option selected="selected" value="1">USER
                                                                        </option>
                                                                        <option value="2">ADMIN</option>
                                                                    </select>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Edit
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
<!--                                            </div>-->


                                        </td>

                                        <!--                                        //кнопка для перехода к edit-->
                                        <!--                                        <form method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">-->
                                        <!--                                            <input type="submit" class="btn btn-info" value="Edit"/>-->
                                        <!--                                        </form>-->


                                        <td>

                                            <!--                                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">-->
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                    data-target="#exampleModalCenter">
                                                Delete
                                                <!--                                            <input type="submit" class="btn btn-danger" value="Delete"/>-->
                                            </button>
                                            <!--                                        </form>-->

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane " role="tabpanel" id="tab-2">
                            <p class="h4"> Add New User</p>
                            <p>
                            <form th:method="POST" th:action="@{/admin/}" th:object="${user}">
                                <label for="username"> Enter Username: </label>
                                <input class="form-control" type="text" placeholder="username" name="username"
                                       id="username">

                                <label for="password"> Enter password: </label>
                                <input class="form-control" type="text" placeholder="Password" name="password"
                                       id="password">


                                <label for="email"> Enter email: </label>
                                <input class="form-control" type="email" placeholder="Email" name="email" id="email">

                                <div class="form-group">
                                    <label for="roles">Roles</label>
                                    <select multiple class="form-control" name="roles" id="roles">

                                        <option selected="selected" value="1">USER</option>
                                        <option value="2">ADMIN</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                    </div>
                                </div>

                            </form>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal для удаления -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">-->


                <!--                <form role="form" th:method= "PATCH" th:action= "@{/admin/{id}/(id=${user.getId()})}" th:object="${user}">-->
                <fieldset>
                    <hr class="colorgraph">
                    <div class="form-group">

                        <input type="text" name="username" id="usernamedelete" class="form-control input-lg"
                               placeholder="Email адрес" readonly>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="passworddelete" class="form-control input-lg"
                               placeholder="Пароль" readonly>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="emaildelete" class="form-control input-lg"
                               placeholder="Пароль" readonly>
                    </div>
                    <div class="form-group">
                        <input type="role" name="role" id="roledelete" class="form-control input-lg"
                               placeholder="Пароль" readonly>
                    </div>
                    <div>
                        <label>Role:
                            <select size="2" multiple name="roles" readonly>
                                <option value="1">USER</option>
                                <option selected="selected" value="2">ADMIN</option>
                            </select>
                        </label>
                    </div>

                </fieldset>
                <!--                </form>-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--             <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">-->
                <button type="button" class="btn btn-primary">Delete</button>
                <!--                <form th:method="delete" th:action="@{/admin/{id}(id=${user})}">-->
                <input type="submit" value="Delete"/>
                <!--                </form>-->

                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>